.App {
  text-align: center;
}

.header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-top: 30px;
  padding-bottom: 50px;
  height: 80px;
  width: 400px;
}

.flex-center, .flex-center-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center-row {
  flex-direction: row;
}

.member-pics {
  margin: 40px 120px 40px 120px;
  justify-content: space-evenly;
}

.login-signup-container {
  height: 300px;
  width: 400px;
  background-color: #EEF0F1;
  border-radius: 3px;
}

.login-signup-container h1 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.button-div button {
  margin: 5px;
}

.about-text {
  width: 70%;
  font-size: 120%;
}

.signature {
  margin-top: 0px;
}

.testimonial {
  margin-bottom: 0px;
}

.member-pics img {
  width: 20%;
}

#plus {
  width: 8%;
}

.footer-menu {
  margin: 40px 20px 20px 20px;

}

.footer-menu a {
  text-decoration: none;
}

.footer-menu p {
  color: darkgray;
  margin: 20px;
}

#left-space {
  padding-left: 42px;
}

.card-div {
  padding-top: 20px;
  flex-shrink: 0;
  height: 300px;
  width: 300px;
  border: solid black 1px;
  background-color: white;
  box-shadow: 0px 5px 20px darkgray;
}

.card-div h4 {
  margin-bottom: 30px;
}

.card-buttons {
  margin-top: 20px;
}

.card-buttons button {
  margin: 7px;
  padding: 0px 8px 0px 8px;
}

#skip {
  font-size: 80%;
  display: inline;
}

.next {
  margin-top: 20px;
  background-color: inherit;
  border: none;
}

.card-container {
  position: relative;
  width: 80%;
  height: 680px;
}

#card-container div {
  width: 18%;
  height: 100%;
  display: inline-block;
  background-color: white;
}

/* note on the following translations: -50% to align cards correctly in the div;
to account for different scales, -.5/card_scale from midline*/

[id='1'] .card-div {
  transform: scale(.9) translate3d(64.5%, -85%, 0);
  transition: transform 1s; 
  position: absolute;
}

[id='1'] {
  z-index: -1;
}

[id='2'] .card-div {
  transform: scale(.95) translate3d(12.5%, -52%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='2'] {
  z-index: 0;
}

[id='3'] .card-div {
  transform: scale(1) translate3d(-50%, -22%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='3'] {
  z-index: 1;
}

[id='4'] .card-div {
  transform: scale(.95) translate3d(-117.5%, -52%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='4'] {
  z-index: 0;
}

[id='5'] .card-div {
  transform: scale(.9) translate3d(-175.5%, -85%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='5'] { 
  z-index: -1;
}

[id='6'] .card-div {
  transform: scale(.8) translate3d(-132.5%, -130%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='6'] { 
  z-index: -2;
}

[id='7'] .card-div {
  transform: scale(.8) translate3d(-62.5%, -147%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='7'] { 
  z-index: -3;
}

[id='8'] .card-div {
  transform: scale(.8) translate3d(7.5%, -130%, 0);
  transition: transform 1s;
  position: absolute;
}

[id='8'] { 
  z-index: -2;
}

.chat-container {
  height: 500px;
  width: 70%;
  border: solid black 1px;
}

.chat-header {
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: lightgray;
}

.message-container {
  height: 450px;
  width: 100%;
}

.send-text {
  width: 100%;
  height: 40px;
}

.chat-header p {
  margin: 0px;
  padding: 15px 0px 0px 5px;
}

.chat-header a p {
  margin: 10px;
  transform: translate(42%,-40px);
}

.chat-header a {
  text-decoration: none;
}

.send-text button {
  margin: 10px;
  transform: translate(1000%,-45px);
}

#logout-div {
  display: inline-block;
  margin-top: 5px;
}